<div>
  <app-widgets-area></app-widgets-area> 
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-widget-card total="2M" label="A1" percentage="40%" ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card total="1.4M" label="B1" percentage="40%" ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card total="0.6M" label="C1" percentage="40%" ></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card total="1k" label="D1" percentage="40%" ></app-widget-card>
  </mat-card>
</div>

<mat-divider></mat-divider>

<div>
  <div>Tables</div>
  <div>Pie charts</div>
</div>
